{% extends 'base_template.html' %}
{% load static %}
{% block page_title %} Диаграмма ганта {% endblock %}

{% block page_content %}

<style>
		body {
			font-family: sans-serif;
			background: #ccc;
		}
		.container {
			width: 100%;
			margin: 0 auto;
		}
		/* custom class */
		.gantt .bar-milestone .bar {
			fill: tomato;
		}
		  #addtask {

		  display: none;
		  animation-duration: 1.5s;
		  animation-fill-mode: both;
		  animation-name: fadeIn;
		}

		#addtask.open {
		  display: block;
		}

		.popup {

		  position: fixed;
		  width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
		  background: rgba(17, 17, 17, 0.5);
		  transition: all 0.5s ease;
		  display: none;
		}

		.popup_open {

		  display: block;
		}

		.popup__container {

		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  background: #fff;
		  border-radius: 10px;
		  max-height: 400px;
		  max-width: 700px;
		  width: 50%;


		}

		.popup__wrapper {

		  padding: 60px;
		}

		@keyframes fadeIn {
		  from {
			opacity: 0;
		  }
		  to {
			opacity: 1;
		  }
		}

		label, input {
			display: block;
		}

		label {
			margin-bottom: 10px;
		
		}

</style>

<link rel="stylesheet" href="{% static 'gant/dist/frappe-gantt.css' %}" />
<script src="{% static 'gant/dist/frappe-gantt.js' %}"></script>

<script type="text/javascript">
var received_data  = {{ json_ob | safe }};

received_data=received_data["map"](function(obj){
    obj['fields']['id']="Task "+ obj['pk']
    return obj['fields']  });

function Send_json_object(data_){
	$.ajax({
			url: {% url 'main:mangetask' %},
			type: 'POST',
			dataType: 'json',
			// contentType: 'application/json; charset=utf-8',
			// processData: false,
			data: {"data_": JSON.stringify(data_),csrfmiddlewaretoken:'{{ csrf_token }}'},
		})
};

</script>


<div class="container">
		<h2>Диаграмма Ганта отдела промышленной подготовки</h2>
		<div class="gantt-target"></div>
		<div class="btn-group">
  			<button onclick="gantt_chart.change_view_mode('Day');">День</button>
		  	<button onclick="gantt_chart.change_view_mode('Week');">Неделя</button>
		  	<button onclick="gantt_chart.change_view_mode('Month');" >Месяц</button>
			<button onclick="gantt_chart.change_view_mode('Half Day');" >Полдня</button>
		  	<button onclick="gantt_chart.change_view_mode('Quarter Day');">Четверть дня</button>
			<button id="showform">Добавить задачу</button>
			<button id="deltask" >Удалить задачу</button>
			<button id="changetask" >Сохранить изменения</button>
		</div>
		<div class="popup">
  			<div class="popup__container">
    			<div class="popup__wrapper">
     				 <div id="addtask">
        				<form role="form"  method='POST'>
							{% csrf_token %}
						  <label>Название Задачи</label>
						  <input type="text" name="name">
						  <label>Начало задачи:</label>
						  <input type="datetime-local"   name="start">
						  <label>Окончание задачи:</label>
						  <input type="datetime-local"  name="end">
						  <label>Прогресс:</label>
						  <input type="text" name="progress">
							<label>Зависимость</label>
							<select id="dependencies" name="dependencies" multiple  >
									<option>Выберете задачу</option>
							</select>
						  <button type="submit" class="btn btn-success">Отправить</button>
        				</form>
      				</div>
    			</div>
  			</div>
		</div>
			</div>

<script src="{% static 'gant/dist/inis.js' %}"></script>

{% endblock %}