{% extends 'base_template.html' %}
{% load static %}
{% block page_title %} Диаграмма Ганта {% endblock %}
{% block page_content %}

<style>
		body {
			font-family: sans-serif;
			background: #ccc;
		}
		.container {
			width: 100%;
			margin: 0 auto;
		}
		/* custom class */
		.gantt .bar-milestone .bar {
			fill: tomato;
		}
		  #addtask {
		  display: none;
		  animation-duration: 1.5s;
		  animation-fill-mode: both;
		  animation-name: fadeIn;
		}

		#addtask.open {
		  display: block;
		}

		.popup {
		  position: fixed;
		  width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
		  background: rgba(17, 17, 17, 0.5);
		  transition: all 0.5s ease;
		  display: none;
		}

		.popup_open {
		  display: block;
		}

		.popup__container {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  background: #fff;
		  border-radius: 10px;
		  max-height: 500px;
		  max-width: 700px;
		  width: 20%;

		}

		.popup__wrapper {
		  padding: 40px;
		}

		@keyframes fadeIn {
		  from {
			opacity: 0;
		  }
		  to {
			opacity: 1;
		  }
		}

	</style>
<link rel="stylesheet" href="{% static 'gantt/dist/frappe-gantt.css' %}" />
<script src="{% static 'gantt/dist/frappe-gantt.js' %}"></script>

</head>
<body>
	<div class="container">
		<h2>Диаграмма Ганта</h2>
		<div class="gantt-target"></div>
		<div class="btn-group">
  			<button onclick="gantt_chart.change_view_mode('Day');">День</button>
		  	<button onclick="gantt_chart.change_view_mode('Week');">Неделя</button>
		  	<button onclick="gantt_chart.change_view_mode('Month');" >Месяц</button>
			<button onclick="gantt_chart.change_view_mode('Half Day');" >Полдня</button>
		  	<button onclick="gantt_chart.change_view_mode('Quarter Day');">Четверть дня</button>
			<button id="showform">Добавить задачу</button>
		</div>
		<div class="popup">
			{% csrf_token %}
  			<div class="popup__container">
    			<div class="popup__wrapper">
     				 <div id="addtask">
        				<form role="form" action="/addtask" autocomplete="off" method="GET">
						  <label>Название Задачи</label>
						  <input type="text" name="name">
						  <label>Начало задачи:</label>
						  <input type="text" name="start">
						  <label>Окончание задачи:</label>
						  <input type="text" name="end">
						  <label>id:</label>
						   <input type="text" name="id">
						  <label>Прогресс:</label>
						  <input type="text" name="progress">
						  <label>Зависимости:</label>
						  <input type="text" name="dependencies">
						  <button type="submit" class="btn btn-success">Отправить</button>
        				</form>
      				</div>
    			</div>
  			</div>
		</div>


<script src="{% static 'gantt/dist/inis.js' %}"></script>

</body>
</html>
{% endblock %}